.all-events-text {
    text-align: left;
    padding-left: 0.5em;
}

.thead-pic {
    width: 5vw;
}

.thead-date {
    width: 8vw;
}

.thead-price, .thead-date {
    text-align: center;
}

.preview-image {
    height: 18em;
}

.search-table {
    width: 100% !important;
    margin: 1em auto !important;
    overflow-y:scroll;
    height: 80vh;
    display:block;
}

.no-results {
    padding: 20rem;
}
