.card {
    margin: 2rem auto !important;
    color: #FFF !important;
    min-height: 28rem !important;
    background-color: #1F1F1F !important;
    width: 80% !important;
}

.card-image {
    min-height: 12rem !important;
}

.card-header {
    color: #FFF !important;
}

.meta, .description {
    color: #8A8A8A !important;
}

.card-content {
    margin-top: 15px !important;
}
