.search-bar {
    margin-right: 1em !important;
    width: 20rem;
}

.home-screen {
    background-image: url("../../nainoa-shizuru.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 130vh;
    color: #FFF;
}

.landing-title {
    padding-top: 15%;
    font-size: 3.5em;
}

.landing-remark {
    font-family: 'Helvetica';
    font-size: 1.5em;
    color: darkgray;
}

.search-form {
    margin-top: 5em;
    margin-bottom: 8em;
}

.search-button {
    height: 2.5em;
    width: 3em;
    padding: 0.5em !important;
    text-align: center;
}

.search {
    margin: 0 !important;
}

.preview-row {
    margin: 0 !important;
    text-align: center;
}
