.navbar {
    background-color: #161616;
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    top: 0;
    z-index: 10;
    border-bottom: 0.5px solid #1F1F1F;
}

.navbar-logo {
    text-align: left;
    padding: 1rem;
    color: #F43B86;
    font-family: 'Permanent Marker', cursive;
}
